# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=bassy

# Make this the same as your github username/organisation
REPO_ORGANIZATION="morph0z"

IMAGE_DESC="A fedora silverblue/ublue image made specifically for ME IN PARTICULAR, NOT YOU ME.. ME.. MEEEEEEEEE, AH HAHAHAHAHAHA."
IMAGE_KEYWORDS="bootc,oci,linux"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://raw.githubusercontent.com/morph0z/Bassy/refs/heads/main/pixeldogBattleTrans.png?token=GHSAT0AAAAAAD6TCLFNMEWB5LGNBBMBXWZE2SW522A"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
